/*button styling*/

.btn {
  &__first {
    @extend %header-button;
    @extend %btn-white;
    color: $black;
    padding: 1px 36px;
    &:hover {
      @extend %btn-orange;
      border: 1px solid $deep_orange-500;
    }
    @media screen and(max-width: 360px) {
      margin: 0 0 10px;
    }
  }
  &__second {
    @extend %header-button;
    @extend %btn-orange;
    padding: 2px 22px;
    margin-left: 10px;
    &:hover {
      background-color: $black;
    }
    @media screen and(max-width: 360px) {
    padding: 2px 25px;
    margin: 0 5px;
  }
  }
  
}

.btn {
  &__third {
    @extend %header-button;
    @extend %btn-orange;
    padding: 2px 42px;
    @media screen and(max-width: 360px) {
      padding: 2px 30px;
      margin: 0 0 10px;
    }
    &:hover {
      background-color: $black;
    }
  }
  &__forth {
    @extend %header-button;
    @extend %btn-white;
    color: $black;
    padding: 1px 29px;
    margin-left: 10px;
    @media screen and(max-width: 360px) {
      padding: 1px 15px;
      margin-left: 1px;
    }
    &:hover {
      @extend %btn-orange;
      border: 1px solid $deep_orange-500;
    }
  }
  @media screen and(max-width: 910px) {
    margin: 0 auto;
  }
}

.btn {
  &__fifth {
    font-weight: 600;
    font-size: $fs--md;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    padding: 1px 20px;
    @extend %btn-orange;
    &:hover {
      background-color: $black;
    }
  }
  &__sixth {
    font-weight: 600;
    font-size: $fs--exmd;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    padding: 1px 40px;
    @extend %btn-black;
    &:hover {
      color: $red_a-100;
    }
  }
}

%btn-orange {
  color: $white;
  background-color: $deep_orange-500;
}

%btn-white {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $white;
}

%btn-black {
  color: $white;
  background-color: $black;
}

%header-button {
  font-weight: 600;
  font-size: $fs--md;
  line-height: 45px;
  text-align: center;
  display: inline-block;
}
