// Sizes for titles
$sizes: "h1" 600 70px 65px,"h2-exlg" 600 75px 65px, "h2" 600 60px 50px, "h3" 600 50px 40px,
  "h4" 600 50px 35px, "h5" 600 40px 30px, "h6" 600 35px 25px; 
@each $name, $weight, $height, $size in $sizes {
  .title-#{$name} {
    font-weight: $weight;
    line-height: $height;
    font-size: $size;
  }
}

// Sizes for texts
$sizes: "exlg" 400 40px 30px, "lg" 400 35px 25px, "exmd" 400 30px 20px,
  "md" 400 25px 18px, "normal" 400 30px 25px, "md-bold" 600 30px 20px, "sm-bold" 600 25px 20px, "md-sm" 400 25px 15px,
  "small" 400 20px 15px, "sm" 400 15px 15px, "ex-small" 400 30px 14px, "exsm" 400 15px 12px;
@each $name, $weight, $height, $size in $sizes {
  .txt-#{$name} {
    font-weight: $weight;
    line-height: $height;
    font-size: $size;
  }
}